<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>股星</title>
        <link rel="stylesheet" href="../static/styles/weui.css">
        <link rel="stylesheet" href="../static/styles/weui.min.css">
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <article class="weui-article">
            <h1>2017年10月8日股票推荐</h1>
            <h3>发布时间：2017年10月8日19:00</h3>
            <HR width="100%" SIZE=7>
        </article>
        <div class="bs-example" data-example-id="contextual-table">
            <table class="table">
              <thead>
                <tr>
                  <th>股票代码</th>
                  <th>股票名称</th>
                  <th>股星预测</th>
                  <th>实际涨幅</th>
                </tr>
              </thead>
              <tbody>
                <tr class="success">
                  <td style="text-align: left">000001</td>
                  <td style="text-align: left">平安银行</td>
                  <td style="text-align: left">下跌</td>
                  <td style="text-align: left">-9%</td>
                </tr>
                <tr class="danger">
                  <td style="text-align: left">000001</td>
                  <td style="text-align: left">平安银行</td>
                  <td style="text-align: left">上涨</td>
                  <td style="text-align: left">9%</td>
                </tr>
                <tr class="success">
                  <td style="text-align: left">000001</td>
                  <td style="text-align: left">平安银行</td>
                  <td style="text-align: left">下跌</td>
                  <td style="text-align: left">-9%</td>
                </tr>
                <tr class="danger">
                  <td style="text-align: left">000001</td>
                  <td style="text-align: left">平安银行</td>
                  <td style="text-align: left">上涨</td>
                  <td style="text-align: left">9%</td>
                </tr>
                <tr class="success">
                  <td style="text-align: left">000001</td>
                  <td style="text-align: left">平安银行</td>
                  <td style="text-align: left">下跌</td>
                  <td style="text-align: left">-9%</td>
                </tr>
                <tr class="danger">
                  <td style="text-align: left">000001</td>
                  <td style="text-align: left">平安银行</td>
                  <td style="text-align: left">上涨</td>
                  <td style="text-align: left">9%</td>
                </tr>
                <tr class="success">
                  <td style="text-align: left">000001</td>
                  <td style="text-align: left">平安银行</td>
                  <td style="text-align: left">下跌</td>
                  <td style="text-align: left">-9%</td>
                </tr>
                <tr class="danger">
                  <td style="text-align: left">000001</td>
                  <td style="text-align: left">平安银行</td>
                  <td style="text-align: left">上涨</td>
                  <td style="text-align: left">9%</td>
                </tr>
                <tr class="success">
                  <td style="text-align: left">000001</td>
                  <td style="text-align: left">平安银行</td>
                  <td style="text-align: left">下跌</td>
                  <td style="text-align: left">-9%</td>
                </tr>
                <tr class="danger">
                  <td style="text-align: left">000001</td>
                  <td style="text-align: left">平安银行</td>
                  <td style="text-align: left">上涨</td>
                  <td style="text-align: left">9%</td>
                </tr>
                <tr class="success">
                  <td style="text-align: left">000001</td>
                  <td style="text-align: left">平安银行</td>
                  <td style="text-align: left">下跌</td>
                  <td style="text-align: left">-9%</td>
                </tr>
                <tr class="danger">
                  <td style="text-align: left">000001</td>
                  <td style="text-align: left">平安银行</td>
                  <td style="text-align: left">上涨</td>
                  <td style="text-align: left">9%</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div>
            <p class="text-right" style="color: #ce3c39">*实际涨幅为2017年10月9日数据</p>
        </div>
    </body>

    <footer>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="page__bd page__bd_spacing">
            <div class="weui-msg__extra-area">
                <div class="weui-footer">
                    <p class="weui-footer__text">Copyright &copy; 2017 股星</p>
                </div>
            </div>
        </div>
    </footer>
</html>